nav{
  background-color: #2ea3d0;
  width: 100%;
}
body{
  margin:0;
  background-color: #2ea3d0;
}
nav ul {
  list-style: none;
  color: #d7e8f0;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}
.header-img{
  grid-area: head;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  background-color: #d3d3d3;
  color: #fff;
}
.feat1{
  grid-area: f1;
}
.feat2{
  grid-area: f2;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "head head head"
      "f1 f1 f2";
}
